<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AA102G4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/AA102G4</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>Nav</servlet-name>
    <servlet-class>com.nav.Nav</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Nav</servlet-name>
    <url-pattern>/nav.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Front</servlet-name>
    <servlet-class>com.nav.Front</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Front</servlet-name>
    <url-pattern>/front.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpLogin</servlet-name>
    <servlet-class>com.emp.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpLogin</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Emp</servlet-name>
    <servlet-class>com.emp.controller.Emp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emp</servlet-name>
    <url-pattern>/emp.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Privileged</servlet-name>
    <servlet-class>com.privileged.controller.Privileged</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Privileged</servlet-name>
    <url-pattern>/privileged.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Stroke</servlet-name>
    <servlet-class>com.stroke.controller.Stroke</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Stroke</servlet-name>
    <url-pattern>/stroke.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ItemServlet</servlet-name>
    <servlet-class>com.item.controller.ItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemServlet</servlet-name>
    <url-pattern>/item.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ItemImageServlet</servlet-name>
    <servlet-class>com.itemimage.controller.ItemImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemImageServlet</servlet-name>
    <url-pattern>/itemimage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ItemDetailsServlet</servlet-name>
    <servlet-class>com.itemdetails.controller.ItemDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemDetailsServlet</servlet-name>
    <url-pattern>/itemdetails.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.member.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/member/member.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberPhotoServlet</servlet-name>
    <servlet-class>com.member.controller.MemberPhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberPhotoServlet</servlet-name>
    <url-pattern>/member/memberPhoto.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BlogServlet</servlet-name>
    <servlet-class>com.blog.controller.BlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogServlet</servlet-name>
    <url-pattern>/blog/blog.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TravelServlet</servlet-name>
    <servlet-class>com.travel.controller.TravelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TravelServlet</servlet-name>
    <url-pattern>/travel/travel.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>com.message.controller.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/message/message.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BlogScoreServlet</servlet-name>
    <servlet-class>com.blogScore.controller.BlogScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogScoreServlet</servlet-name>
    <url-pattern>/blogScore/blogScore.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TravelScoreServlet</servlet-name>
    <servlet-class>com.travelScore.controller.TravelScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TravelScoreServlet</servlet-name>
    <url-pattern>/travelScore/travelScore.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.member.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TravelImageServlet</servlet-name>
    <servlet-class>com.travelImage.controller.TravelImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TravelImageServlet</servlet-name>
    <url-pattern>/travelImage/travelImage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.travelImage.controller.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/image/image.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RelationshipServlet</servlet-name>
    <servlet-class>com.relationship.controller.RelationshipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelationshipServlet</servlet-name>
    <url-pattern>/relationship.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BlogImageServlet</servlet-name>
    <servlet-class>com.blog.controller.BlogImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogImageServlet</servlet-name>
    <url-pattern>/blogImage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Que_ans</servlet-name>
    <servlet-class>com.questionsanswers.controller.Que_ans</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Que_ans</servlet-name>
    <url-pattern>/que_ans.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Forum</servlet-name>
    <servlet-class>com.forum.controller.Forum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forum</servlet-name>
    <url-pattern>/forum.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Forumres</servlet-name>
    <servlet-class>com.forumresponse.controller.Forumres</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forumres</servlet-name>
    <url-pattern>/forumres.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestMap</servlet-name>
    <servlet-class>com.test.TestMap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestMap</servlet-name>
    <url-pattern>/testMap.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ToolsByStart</servlet-name>
    <servlet-class>tools.ToolsByStart</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToolsByStart</servlet-name>
    <url-pattern>/ToolsByStart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActivityServlet</servlet-name>
    <servlet-class>com.activity.controller.ActivityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityServlet</servlet-name>
    <url-pattern>/activity/activity.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActivityPhoto</servlet-name>
    <servlet-class>com.activity.controller.ActivityPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityPhoto</servlet-name>
    <url-pattern>/activity/activityPhoto.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActivityRoute</servlet-name>
    <servlet-class>com.activity.controller.ActivityRoute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityRoute</servlet-name>
    <url-pattern>/activity/activityRoute.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActivityAlti</servlet-name>
    <servlet-class>com.activity.controller.ActivityAlti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityAlti</servlet-name>
    <url-pattern>/activity/activityAlti.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JoinActivityServlet</servlet-name>
    <servlet-class>com.joinactivity.controller.JoinActivityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinActivityServlet</servlet-name>
    <url-pattern>/joinActivity/joinActivity.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReportcollectServlet</servlet-name>
    <servlet-class>com.reportcollect.controller.ReportcollectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportcollectServlet</servlet-name>
    <url-pattern>/reportcollect/reportcollect.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>empLoginFilter</filter-name>
    <filter-class>com.filters.EmpLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>empLoginFilter</filter-name>
    <url-pattern>/back-end/index.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>memberLoginFilter</filter-name>
    <filter-class>com.filters.MemberLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>memberLoginFilter</filter-name>
    <url-pattern>/front-end/home/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>setCharacterEncoding</filter-name>
    <filter-class>com.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>setCharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>